name: CI/CD Pipeline for Prod

on:
  push:
    branches:
      - prod

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Registry
        run: echo "${{ secrets.SNOWFLAKE_PASSWORD }}" | docker login ${{ secrets.SNOWFLAKE_IMAGE }} -u ${{ secrets.SNOWFLAKE_USER }} --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build --no-cache -t ${{ secrets.SNOWFLAKE_IMAGE }}:${{ github.ref_name }} .
          docker push ${{ secrets.SNOWFLAKE_IMAGE }}:${{ github.ref_name }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Python script
        env:
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
          SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_RESET_SERVER_DB: ${{ secrets.SNOWFLAKE_RESET_SERVER_DB }}
          SNOWFLAKE_RESET_SERVER_QUERY: CALL RESTART_SERVER_PROD();
        run: |
          python redeploy.py
    needs: build
