name: CI/CD Pipeline for UAT

on:
  push:
    branches:
      - uat

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Registry
        run: echo "${{ secrets.SNOWFLAKE_PASSWORD }}" | docker login ${{ secrets.SNOWFLAKE_IMAGE }} -u ${{ secrets.SNOWFLAKE_USERNAME }} --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.SNOWFLAKE_IMAGE }}/king_app:uat .
          docker push ${{ secrets.SNOWFLAKE_IMAGE }}/king_app:uat

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Prod Environment
        run: echo "Deploying to prod environment"
    needs: build
